*{
    margin: 0;
    padding: 0;
    /* background-color: #191919; */
}
.head-part{
    height: 150px;
    background-color: black;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .head-part > img{
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* #taskform{
    display: flex;
    justify-content: space-around;
} */
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 20px; */
}
.form-part{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

input {
    background-color: #262626;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: whitesmoke;
}
#taskName{
    width: 600px;
    height: 40px;
}
button {
    margin-left: 10px;
    background-color: #1e6f9f;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 4px;
    width: 80px;
    height: 50px;
}

button:hover {
    background-color: #0056b3;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editBtn, .deleteBtn {
    background-color: #0056b3;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 60px;
    border-radius: 4px;
    padding: 4px;
    margin-left: 5px;
}

.editBtn:hover, .deleteBtn:hover {
    background-color: #0056b3;
}
.task{
    display: flex;
    align-items: center;
    justify-content: center;
/* width: 700px; */
    border: 1px solid gray;
    /* width: max-content; */
    padding: 10px;
}